<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<div id='container_calendar'>
	<div id='left_calendar'>
		<div id='welcome'>
			<h1>Welcome Back,
				<p><%=@user.first_name%>!</p>
				<h5>Let's get to it!</h5>
		</div>
		<div id='schedule'>
			<h2>Here are your upcoming Events for today</h2>
			<h5>First Event Here</h5>
			<h5>Second Event Here</h5>
			<h5>Third Event Here</h5>

		</div>
	</div>
	<div id='right_calendar'>
		<h2>Today is <%=@time%>, <%=@time_date%></h2>
		<div id='times'>
			<h3>5am</h3>
				<% @events.each do |event| %>
				<% if event.time.hour == 5 %>
					<div class='event_here' style="background-color: <%= event.color %>;"><%=event.name%>
						<form action='/events/<%= event.id %>/destroy' method='post'>
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type='hidden' name='_method' value='delete'>
							<button>Remove</button>
						</form>
					</div>
				<%end %>
				<% end %>
			<h3>6am</h3>
				<% @events.each do |event| %>
					<% if event.time.hour == 6 %>
						<div class='event_here' style="background-color: <%= event.color %>;"><%=event.name%>
						<form action='/events/<%= event.id %>/destroy' method='post'>
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type='hidden' name='_method' value='delete'>
							<button>Remove</button>
						</form>
					</div>
					<% end %>
				<% end %>
			<h3>7am</h3>
				<% @events.each do |event| %>
					<% if event.time.hour == 7 %>
						<div class='event_here' style="background-color: <%= event.color %>;"><%=event.name%>
						<form action='/events/<%= event.id %>/destroy' method='post'>
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type='hidden' name='_method' value='delete'>
							<button>Remove</button>
						</form>
					</div>
					<% end %>
				<% end %>
			<h3>8am</h3>
				<% @events.each do |event| %>
					<% if event.time.hour == 8 %>
						<div class='event_here' style="background-color: <%= event.color %>;"><%=event.name%>
						<form action='/events/<%= event.id %>/destroy' method='post'>
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type='hidden' name='_method' value='delete'>
							<button>Remove</button>
						</form>
					</div>
					<% end %>
				<% end %>
			<h3>9am</h3>
				<% @events.each do |event| %>
					<% if event.time.hour == 9 %>
						<div class='event_here' style="background-color: <%= event.color %>;"><%=event.name%>
						<form action='/events/<%= event.id %>/destroy' method='post'>
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type='hidden' name='_method' value='delete'>
							<input type='hidden' name='user_id' value='<%=@user.id%>'>
							<button>Remove</button>
						</form>
					</div>
					<% end %>
				<% end %>
			<h3>10am</h3>
				<% @events.each do |event| %>
					<% if event.time.hour == 10 %>
						<div class='event_here' style="background-color: <%= event.color %>;"><%=event.name%>
						<form action='/events/<%= event.id %>/destroy' method='post'>
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type='hidden' name='_method' value='delete'>
							<input type='hidden' name='user_id' value='<%=@user.id%>'>
							<button>Remove</button>
						</form>
					</div>
					<% end %>
				<% end %>
			<h3>11am</h3>
				<% @events.each do |event| %>
					<% if event.time.hour == 11 %>
						<div class='event_here' style="background-color: <%= event.color %>;"><%=event.name%>
						<form action='/events/<%= event.id %>/destroy' method='post'>
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type='hidden' name='_method' value='delete'>
							<input type='hidden' name='user_id' value='<%=@user.id%>'>
							<button>Remove</button>
						</form>
					</div>
					<% end %>
				<% end %>
			<h3>12pm</h3>
				<% @events.each do |event| %>
					<% if event.time.hour == 12 %>
						<div class='event_here' style="background-color: <%= event.color %>;"><%=event.name%>
						<form action='/events/<%= event.id %>/destroy' method='post'>
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type='hidden' name='_method' value='delete'>
							<input type='hidden' name='user_id' value='<%=@user.id%>'>
							<button>Remove</button>
						</form>
					</div>
					<% end %>
				<% end %>
			<h3>1pm</h3>
				<% @events.each do |event| %>
					<% if event.time.hour == 13 %>
						<div class='event_here' style="background-color: <%= event.color %>;"><%=event.name%>
						<form action='/events/<%= event.id %>/destroy' method='post'>
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type='hidden' name='_method' value='delete'>
							<input type='hidden' name='user_id' value='<%=@user.id%>'>
							<button>Remove</button>
						</form>
					</div>
					<% end %>
				<% end %>
			<h3>2pm</h3>
				<% @events.each do |event| %>
					<% if event.time.hour == 14 %>
						<div class='event_here' style="background-color: <%= event.color %>;"><%=event.name%>
						<form action='/events/<%= event.id %>/destroy' method='post'>
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type='hidden' name='_method' value='delete'>
							<input type='hidden' name='user_id' value='<%=@user.id%>'>
							<button>Remove</button>
						</form>
					</div>
					<% end %>
				<% end %>
			<h3>3pm</h3>
				<% @events.each do |event| %>
					<% if event.time.hour == 15 %>
						<div class='event_here' style="background-color: <%= event.color %>;"><%=event.name%>
						<form action='/events/<%= event.id %>/destroy' method='post'>
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type='hidden' name='_method' value='delete'>
							<input type='hidden' name='user_id' value='<%=@user.id%>'>
							<button>Remove</button>
						</form>
					</div>
					<% end %>
				<% end %>
			<h3>4pm</h3>
				<% @events.each do |event| %>
					<% if event.time.hour == 16 %>
						<div class='event_here'style="background-color: <%= event.color %>"><%=event.name%>
							<form action='/events/<%= event.id %>/destroy' method='post'>
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type='hidden' name='_method' value='delete'>
							<button>Remove</button>
						</div>
					</form>
					<% end %>
				<% end %>
			<h3>5pm</h3>
				<% @events.each do |event| %>
					<% if event.time.hour == 17 %>
						<div class='event_here' style="background-color: <%= event.color %>;"><%=event.name%>
						<form action='/events/<%= event.id %>/destroy' method='post'>
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type='hidden' name='_method' value='delete'>
							<input type='hidden' name='user_id' value='<%=@user.id%>'>
							<button>Remove</button>
						</form>
					</div>
					<% end %>
				<% end %>
			<h3>6pm</h3>
				<% @events.each do |event| %>
					<% if event.time.hour == 18 %>
						<div class='event_here' style="background-color: <%= event.color %>;"><%=event.name%>
						<form action='/events/<%= event.id %>/destroy' method='post'>
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type='hidden' name='_method' value='delete'>
							<input type='hidden' name='user_id' value='<%=@user.id%>'>
							<button>Remove</button>
						</form>
					</div>
					<% end %>
				<% end %>
			<h3>7pm</h3>
				<% @events.each do |event| %>
					<% if event.time.hour == 19 %>
						<div class='event_here' style="background-color: <%= event.color %>;"><%=event.name%>
						<form action='/events/<%= event.id %>/destroy' method='post'>
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type='hidden' name='_method' value='delete'>
							<input type='hidden' name='user_id' value='<%=@user.id%>'>
							<button>Remove</button>
						</form>
					</div>
					<% end %>
				<% end %>
			<h3>8pm</h3>
				<% @events.each do |event| %>
					<% if event.time.hour == 20 %>
						<div class='event_here' style="background-color: <%= event.color %>;"><%=event.name%>
						<form action='/events/<%= event.id %>/destroy' method='post'>
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type='hidden' name='_method' value='delete'>
							<input type='hidden' name='user_id' value='<%=@user.id%>'>
							<button>Remove</button>
						</form>
					</div>
					<% end %>
				<% end %>
			<h3>9pm</h3>
				<% @events.each do |event| %>
					<% if event.time.hour == 21 %>
						<div class='event_here' style="background-color: <%= event.color %>;"><%=event.name%>
						<form action='/events/<%= event.id %>/destroy' method='post'>
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type='hidden' name='_method' value='delete'>
							<input type='hidden' name='user_id' value='<%=@user.id%>'>
							<button>Remove</button>
						</form>
					</div>
					<% end %>
				<% end %>
			<h3>10pm</h3>
				<% @events.each do |event| %>
					<% if event.time.hour == 22 %>
						<div class='event_here' style="background-color: <%= event.color %>;"><%=event.name%>
						<form action='/events/<%= event.id %>/destroy' method='post'>
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type='hidden' name='_method' value='delete'>
							<input type='hidden' name='user_id' value='<%=@user.id%>'>
							<button>Remove</button>
						</form>
					</div>
					<% end %>
				<% end %>
			<h3>11pm</h3>
				<% @events.each do |event| %>
					<% if event.time.hour == 23 %>
						<div class='event_here' style="background-color: <%= event.color %>;"><%=event.name%>
						<form action='/events/<%= event.id %>/destroy' method='post'>
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type='hidden' name='_method' value='delete'>
							<input type='hidden' name='user_id' value='<%=@user.id%>'>
							<button>Remove</button>
						</form>
					</div>
					<% end %>
				<% end %>
		</div>
	</div>
	<div id='add_event'>
		<form action='/events/create' method='post'>
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type='hidden' name='event[user_id]' value='<%=@user.id%>'>
		<input type='hidden' name='user_id' value='<%=@user.id%>'>
			<div id='new_event'>
			<h2>Add an Event to My Calendar</h2>
				<% if flash[:errors] %>
				<ul>
				<% flash[:errors].each do |error| %>
				<li><%= error %>
				<% end %>
			<% end %>
			<ul>
					<li class='new_event_class'>
						<label for='event'>Name</label>
						<input type='text' name='event[name]'>
						<span class='new_event_span'>Name of Your Event</span>
					</li>
					<li class='new_event_class'>
						<label for='description'>Description</label>
						<input type='text' name='event[description]'>
						<span class='new_event_span'>Describe it</span>
					</li>
					<li class='new_event_class'>
						<label for='location'>Location</label>
						<input type='text' name='event[location]'>
						<span class='new_event_span'>Where will it be?</span>
					</li>
					<li class='new_event_class1'>
						<label for='date'>Date</label>
						<input type='date' name='event[date]'>
						<span class='new_event_span'>What Day Will it Be</span>
					</li>
					<li class='new_event_class1'>
					<label for='time'>Time</label>
						<input type='time' name='event[time]'>
						<span class='new_event_span'>What time will it be?</span>
					</li>
					<li class='new_event_class1'>
					<label for='color'>Color</label>	
						<input type='color' name='event[color'>
						<span class='new_event_span'>Choose Your Event Color</span>
					</li>
					<li class='new_event_class1'>
						Email Notification?
						<input type='checkbox' name='event[notify]' value='1'>Yes
						<span class='new_event_span'>Need a Reminder?</span>
					</li>
					<input type='submit' value='Submit'>
			</form>
			</div>
		</form>
	</div>
</div>

</body>
</html>
